# PostgreSQL Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=admin_todo
POSTGRES_PORT=5432
DATABASE_URL="postgresql://admin:admin123@localhost:5432/admin_todo"
NEXTAUTH_SECRET="Your secret key. Use openssl rand -base64 64 to generate a secret key."
GITHUB_CLIENT_ID="Your GitHub client ID"
GITHUB_CLIENT_SECRET="Your GitHub client secret"
GOOGLE_CLIENT_ID="Your Google client ID"
GOOGLE_CLIENT_SECRET="Your Google client secret"